<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Obaju e-commerce template">
    <meta name="author" content="Ondrej Svestka | ondrejsvestka.cz">
    <meta name="keywords" content="">

    <title>
        Obaju : e-commerce template
    </title>

    <meta name="keywords" content="">

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css'>

    <!-- styles -->
    <link href="/static/ecommerce2/css/font-awesome.css" rel="stylesheet">
    <link href="/static/ecommerce2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/ecommerce2/css/animate.min.css" rel="stylesheet">
    <link href="/static/ecommerce2/css/owl.carousel.css" rel="stylesheet">
    <link href="/static/ecommerce2/css/owl.theme.css" rel="stylesheet">

    <!-- theme stylesheet -->
    <link href="/static/ecommerce2/css/style.default.css" rel="stylesheet" id="theme-stylesheet">

    <!-- your stylesheet with modifications -->
    <link href="/static/ecommerce2/css/custom.css" rel="stylesheet">

    <script src="/static/ecommerce2/js/respond.min.js"></script>

    <link rel="shortcut icon" href="favicon.png">


    <link rel="shortcut icon" href="favicon.png">
    <link rel="shortcut icon" href="favicon.png">
    <script src="/static/ecommerce2/js/jquery-1.11.0.min.js"></script>
    <script src="/static/ecommerce2/js/bootstrap.min.js"></script>
    <script src="/static/ecommerce2/js/jquery.cookie.js"></script>
    <script src="/static/ecommerce2/js/waypoints.min.js"></script>
    <script src="/static/ecommerce2/js/modernizr.js"></script>
    <script src="/static/ecommerce2/js/bootstrap-hover-dropdown.js"></script>
    <script src="/static/ecommerce2/js/owl.carousel.min.js"></script>
    <script src="/static/ecommerce2/js/front.js"></script>


    <base href="/ecommerce2/">
</head>

<body>
    <!-- *** TOPBAR ***
 _________________________________________________________ -->
<div id="topbar">
{% include "topbar.html" %} 
</div> 

    <!-- *** TOP BAR END *** -->

    <!-- *** NAVBAR ***
 _________________________________________________________ -->

    <div id="navigationbar"> {% include "navbar.html" %} </div> 
    <!-- *** NAVBAR END *** -->

    <div id="all">

        <div id="content">
            <div class="container">

                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="index">Home</a>
                        </li>
                        {% for sup_cat in sup_cats %}
                        <li><a href="category.html/{{ sup_cat.categoryid }}">{{ sup_cat.categoryname }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="col-md-3">
                    {% include "leftmenu.html" %}
                </div>

                <div class="col-md-9">
                    <div class="box">
                        <h1>{{ cat_view.categoryname }}</h1>
                    </div>

                    <div class="box info-bar">
                        <div class="row">
                            <div class="col-sm-12 col-md-4 products-showing">
                                Showing <strong>{{ prod_num }}</strong> products
                            </div>

                        </div>
                    </div>

                    <div class="row products">
                    {% for prod in products %}
                        <div class="col-md-4 col-sm-6">
                            <div class="product">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="detail.html/{{ prod.productid }}">
                                                <img src="/static/ecommerce2/{{ prod.productimage }}" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="detail.html/{{ prod.productid }}">
                                                <img src="/static/ecommerce2/{{ prod.productimage2 }}" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="detail.html" class="invisible">
                                    <img src="/static/ecommerce2/{{ prod.productimage }}" alt="" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3><a href="detail.html">{{ prod.productname }}</a></h3>
                                    <p class="price"> {{ prod.productprice }}</p>
                                    <p class="buttons">
                                        <a href="detail.html/{{ prod.productid }}" class="btn btn-default">View detail</a>
                                        <a href="basket.html/{{ prod.productid }}" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                    </p>
                                </div>
                            </div>
                            <!-- /.product -->
                        </div>
                        {% endfor %}
                    <!--<div class="pages">

                        <p class="loadMore">
                            <a href="#" class="btn btn-primary btn-lg"><i class="fa fa-chevron-down"></i> Load more</a>
                        </p>

                        <ul class="pagination">
                            <li><a href="#">&laquo;</a>
                            </li>
                            <li class="active"><a href="#">1</a>
                            </li>
                            <li><a href="#">2</a>
                            </li>
                            <li><a href="#">3</a>
                            </li>
                            <li><a href="#">4</a>
                            </li>
                            <li><a href="#">5</a>
                            </li>
                            <li><a href="#">&raquo;</a>
                            </li>
                        </ul>
                    </div>-->


                </div>
                <!-- /.col-md-9 -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->


         <div id="foot_copy"> {% include "footer.html" %} </div>


    </div>
    <!-- /#all -->


    

 





</body>

</html>