<div class="box" id="order-summary">
    <div class="box-header">
        <h3>Order summary</h3>
    </div>
    <p class="text-muted">Shipping and additional costs are calculated based on the values you have entered.</p>

    <div class="table-responsive">
        <table class="table">
            <tbody>
                <tr>
                    <td>Order subtotal</td>
                    <th>Rs.{{ total }}</th>
                </tr>
                <tr>
                    <td>Shipping and handling</td>
                    <th>Rs. {{ cart_d.ordershipping }}</th>
                </tr>
                <tr>
                    <td>Tax</td>
                    <th>Rs. {{ cart_d.ordertax }}</th>
                </tr>
                <tr class="total">
                    <td>Total</td>
                    <th>Rs. {{ cart_d.orderamount }}</th>
                </tr>
            </tbody>
        </table>
    </div>

</div>