<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Obaju e-commerce template">
    <meta name="author" content="Ondrej Svestka | ondrejsvestka.cz">
    <meta name="keywords" content="">

    <title>
        Obaju : e-commerce template
    </title>

    <meta name="keywords" content="">

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css'>

    <!-- styles -->
    <link href="/static/ecommerce2/css/font-awesome.css" rel="stylesheet">
    <link href="/static/ecommerce2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/ecommerce2/css/animate.min.css" rel="stylesheet">
    <link href="/static/ecommerce2/css/owl.carousel.css" rel="stylesheet">
    <link href="/static/ecommerce2/css/owl.theme.css" rel="stylesheet">

    <!-- theme stylesheet -->
    <link href="/static/ecommerce2/css/style.default.css" rel="stylesheet" id="theme-stylesheet">

    <!-- your stylesheet with modifications -->
    <link href="/static/ecommerce2/css/custom.css" rel="stylesheet">

    <script src="/static/ecommerce2/js/respond.min.js"></script>
    <link rel="shortcut icon" href="favicon.png">
    <script src="/static/ecommerce2/js/jquery-1.11.0.min.js"></script>
    <script src="/static/ecommerce2/js/bootstrap.min.js"></script>
    <script src="/static/ecommerce2/js/jquery.cookie.js"></script>
    <script src="/static/ecommerce2/js/waypoints.min.js"></script>
    <script src="/static/ecommerce2/js/modernizr.js"></script>
    <script src="/static/ecommerce2/js/bootstrap-hover-dropdown.js"></script>
    <script src="/static/ecommerce2/js/owl.carousel.min.js"></script>
    <script src="/static/ecommerce2/js/front.js"></script>


    {% if alert %}
    {{ alert }}
    {% endif %}



    <base href="/ecommerce2/">
</head>

<body>
    <!-- *** TOPBAR ***
 _________________________________________________________ -->
<div id="topbar">
{% include "topbar.html" %} 
</div> 

    <!-- *** TOP BAR END *** -->

    <!-- *** NAVBAR ***
 _________________________________________________________ -->

    <div id="navigationbar"> {% include "navbar.html" %} </div> 
    <!-- *** NAVBAR END *** -->


    <div id="all">

        <div id="content">
            <div class="container">

                <div class="col-md-12">

                    <ul class="breadcrumb">
                        <li><a href="index">Home</a>
                        </li>
                        <li>New account / Sign in</li>
                    </ul>

                </div>

                <div class="col-md-6">
                    <div class="box">
                        <h1>New account</h1>

                        <p class="lead">Not our registered customer yet?</p>
                        <p>With registration with us new world of fashion, fantastic discounts and much more opens to you! The whole process will not take you more than a minute!</p>
                        <p class="text-muted">If you have any questions, please feel free to <a href="contact.html">contact us</a>, our customer service center is working for you 24/7.</p>

                        <hr>

                       <form action="user-create" method="post">
                       {% csrf_token %}
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label for="name">Firstame</label>
                                    <input type="text" class="form-control" id="firstname" name="firstname">
                                </div>
                                <div class="col-md-6">
                                    <label for="name">Lastame</label>
                                    <input type="text" class="form-control" id="lastname" name="lastname">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" name="email">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" name="password">
                            </div>
                            <div class="form-group">
                                <label for="phone">Phone</label>
                                <input type="number" class="form-control" id="phone" name="phone" min="1000000000" max="10000000000">
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-user-md"></i> Register</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="box">
                        <h1>Login</h1>

                        <p class="lead">Already our customer?</p>
                        <p class="text-muted">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies
                            mi vitae est. Mauris placerat eleifend leo.</p>

                        <hr>

                        <form action="login" method="post">
                        {% csrf_token %}
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="text" class="form-control" id="email" name="email" placeholder="email">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" id="password" name="password" placeholder="password">
                            </div>
                            <div class="text-center">
                                <button type="submit" value="login" name="login" class="btn btn-primary"><i class="fa fa-sign-in"></i> Log in</button>
                            </div>
                        </form>
                    </div>
                </div>


            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->


         <div id="foot_copy"> {% include "footer.html" %} </div>


    </div>
    <!-- /#all -->


    

 


</body>

</html>
